 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin:0;
  color: #594A39;
  font-family: "Noto Sans TC";
}

body {
  margin: 0;
  padding: 0;
}

textarea,input {
  color: #594A39;
}
textarea:focus,input:focus {
  border-color: #594A39;
}

a {
  color: inherit;
  text-decoration: none;
}
 