
html,
body {
  background-color:#FDFDFB;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin:0;
  color: #594A39;
  font-family: "Noto Sans TC";
  overflow-y: scroll; /* 为了跨浏览器一致性 */
  scrollbar-width: none; /* 对于Firefox */
}

body::-webkit-scrollbar {
  display: none; 
}

 *, *:before, *:after {
  box-sizing: inherit;

}

textarea,input {
  color: #594A39;
}
textarea:focus,input:focus {
  border-color: #594A39;
}

a {
  color: inherit;
  text-decoration: none;
}